<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moment_ablum_vc</key>
	<dict>
		<key>color</key>
		<string>0x3a91f3</string>
	</dict>
	<key>moment_remind_me_footer_view</key>
	<dict>
		<key>color</key>
		<string>0x939393</string>
		<key>lineColor</key>
		<string>0xe5e5e5</string>
	</dict>
	<key>moment_praise_cell</key>
	<dict>
		<key>parting_line_color</key>
		<string>0xD8DCE0</string>
	</dict>
	<key>moment_footer_view</key>
	<dict>
		<key>infoColor</key>
		<string>0x939393</string>
	</dict>
	<key>moment_remind_list_cell</key>
	<dict>
		<key>textColor</key>
		<string>0x939393</string>
	</dict>
	<key>comment_menu_view</key>
	<dict>
		<key>backgroundColor</key>
		<string>0x4c5155</string>
		<key>praiseColor</key>
		<string>0xffffff</string>
		<key>commentColor</key>
		<string>0xffffff</string>
		<key>lineColor</key>
		<string>0x383d41</string>
	</dict>
	<key>common</key>
	<dict>
		<key>watermark_text_color</key>
		<string>0xEAEAEA</string>
		<key>navi_tint_color</key>
		<string>0x3a91f3</string>
		<key>commentContentColor</key>
		<string>0x4A4A4A</string>
		<key>shadowColor</key>
		<string>0x091E3C</string>
		<key>rightItemDisableColor</key>
		<string>0x007AFF</string>
		<key>momentCellColor</key>
		<string>0xe5e5e5</string>
		<key>actionSheetTitleColor</key>
		<string>0x939393</string>
		<key>naviColor</key>
		<string>0xf5f5f6</string>
		<key>lineColor</key>
		<string>0xD0D0D0</string>
		<key>deleteBtnColor</key>
		<string>0x3A91F3</string>
		<key>nameLabelColor</key>
		<string>0x5A8AC0</string>
		<key>createTimeLabelColor</key>
		<string>0x939393</string>
		<key>cellcolor</key>
		<string>0xF2F2F3</string>
		<key>backgroundColor</key>
		<string>0xF7f8f9</string>
		<key>commentClickColor</key>
		<string>0xd8d8d8</string>
		<key>keywordColor</key>
		<string>0x5a8ac0</string>
		<key>longPressColor</key>
		<string>0xe5e5e5</string>
		<key>disableColor</key>
		<string>0x7D7D7D</string>
		<key>whiteColor</key>
		<string>0xFFFFFF</string>
		<key>blackColor</key>
		<string>0x000000</string>
		<key>contentHighLightColor</key>
		<string>0x999999</string>
		<key>nameHighLightColor</key>
		<string>0x999999</string>
		<key>highLightColor</key>
		<string>0x5A8Ac0</string>
		<key>nameColor</key>
		<string>0x5A8Ac0</string>
		<key>contentColor</key>
		<string>0x262626</string>
	</dict>
	<key>moment_cell</key>
	<dict>
		<key>updateButtonColor</key>
		<string>0x939393</string>
		<key>deleteButtonColor</key>
		<string>0x3a91f3</string>
	</dict>
	<key>moment_create_cell</key>
	<dict>
		<key>cell_left_label_color</key>
		<string>0x262626</string>
		<key>textField_placeholder_color</key>
		<string>0x939393</string>
	</dict>
	<key>moment_edit_header_view</key>
	<dict>
		<key>placeholder_color</key>
		<string>0x9B9B9B </string>
	</dict>
	<key>moment_create_vc</key>
	<dict>
		<key>background_color</key>
		<string>0xF2F2F3</string>
	</dict>
	<key>moment_header_view</key>
	<dict>
		<key>lineColor</key>
		<string>0xe5e5e5</string>
		<key>titleColor</key>
		<string>0xffffff</string>
		<key>messageViewColor</key>
		<string>0x262e42</string>
		<key>textColor</key>
		<string>0xffffff</string>
	</dict>
	<key>moment_comment_view</key>
	<dict>
		<key>cellcolor</key>
		<string>0xF2F2F3</string>
	</dict>
</dict>
</plist>
