<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moment_remind_me_footer_view</key>
	<dict>
		<key>font</key>
		<string>system#14</string>
	</dict>
	<key>moment_footer_view</key>
	<dict>
		<key>infoFont</key>
		<string>system#12</string>
	</dict>
	<key>moment_remind_list_cell</key>
	<dict>
		<key>textFont</key>
		<string>system#14</string>
	</dict>
	<key>comment_menu_view</key>
	<dict>
		<key>commonFont</key>
		<string>PingFangSC-Regular#14</string>
		<key>englishFont</key>
		<string>system#9</string>
	</dict>
	<key>common</key>
	<dict>
		<key>keywordFont</key>
		<string>PingFangSC-Medium#14</string>
		<key>noContents</key>
		<string>PingFangSC-Regular#14</string>
		<key>commentLabelFont</key>
		<string>PingFangSC-Regular#14</string>
		<key>praiseLabelFont</key>
		<string>PingFangSC-Medium#14</string>
		<key>contentLabelFont</key>
		<string>PingFangSC-Regular#15</string>
		<key>nameLabelFont</key>
		<string>PingFangSC-Medium#15</string>
	</dict>
	<key>moment_header_view</key>
	<dict>
		<key>englishRemindTextFont</key>
		<string>PingFangSC-Regular#12</string>
		<key>remindTextFont</key>
		<string>PingFangSC-Regular#15</string>
		<key>titleFont</key>
		<string>PingFangSC-Medium#18</string>
	</dict>
	<key>activity_base_cell</key>
	<dict>
		<key>voteNameLabelFont</key>
		<string>system#17</string>
		<key>voteValueLabelFont</key>
		<string>system#17</string>
	</dict>
	<key>activity_view</key>
	<dict>
		<key>voteTitleLabelFont</key>
		<string>system#17</string>
		<key>voteStartLabelFont</key>
		<string>system#17</string>
		<key>voteEndLabelFont</key>
		<string>system#17</string>
		<key>voteJohnPeopleFont</key>
		<string>system#17</string>
	</dict>
	<key>moment_praise_cell</key>
	<dict/>
	<key>moment_comment_cell</key>
	<dict/>
	<key>moment_cell</key>
	<dict>
		<key>updateButtonFont</key>
		<string>system#12</string>
		<key>deleteButtonFont</key>
		<string>system#12</string>
	</dict>
</dict>
</plist>
